@import "../../styles/Partials/mixins.scss";
@import "../../styles/Partials/variables.scss";

.groupsidebarwrapper {
  &__top {
    &__title {
      color: red;
    }
    &__button {
      width: 40px;
      height: 40px;

      &__icon {
        width: 100%;
      }
    }
  }
}
