.mainheader {
  background-color: antiquewhite;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.detailsiconbutton {
  width: 40px;
  height: 40px;

  &__icon {
    box-sizing: border-box;
    width: 100%;
  }
}

.headerform {
  flex-grow: 1;
  height: 80%;
  position: relative;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding-left: 0.5rem;
    padding-right: 5.5rem;
  }

  &__buttonwrapper {
    position: absolute;
    right: 0.5rem;
    top: 3px;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    &__button {
      width: 2rem;
      height: 2rem;
      &__icon {
        width: 100%;
      }
    }
  }
}
