.deletebutton {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: transparent;
  width: 15px;
  height: 15px;

  &__icon {
    // background-color: blue;
    width: 100%;
    height: 100%;
  }
}
